.btn {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-colored {
  background: $color-primary;
  border-radius: 3rem;
  color: #fff;
}

.btn-landing {
  font-weight: 700;
}

.btn-transparent {
  color: $color-black;
  background: transparent;
}

.btn-faded {
  background: #dfe5ec;
  border-radius: 1.8rem;
  cursor: pointer;
}

.btn-double {
  display: flex;
  align-items: center;
  cursor: pointer;
}
